In [1]:
from preprocessing import *

import pandas as pd
import numpy as np

In [2]:
df = load()

In [3]:
df

,sentiment,ids,date,flag,user,text
0,1,1833972543,Mon May 18 01:08:27 PDT 2009,NO_QUERY,Killandra,"@MissBianca76 Yes, talking helps a lot.. going..."
1,1,1980318193,Sun May 31 06:23:17 PDT 2009,NO_QUERY,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...
2,1,1994409198,Mon Jun 01 11:52:54 PDT 2009,NO_QUERY,yaseminx3,@PleaseBeMine Something for your iphone
3,0,1824749377,Sun May 17 02:45:34 PDT 2009,NO_QUERY,no_surprises,@GabrielSaporta couldn't get in to the after p...
4,0,2001199113,Tue Jun 02 00:08:07 PDT 2009,NO_QUERY,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...
...,...,...,...,...,...,...
224989,0,2261324310,Sat Jun 20 20:36:48 PDT 2009,NO_QUERY,CynthiaBuroughs,@Dropsofreign yeah I hope Iran people reach fr...
224990,1,1989408152,Mon Jun 01 01:25:45 PDT 2009,NO_QUERY,unitechy,Trying the qwerty keypad
224991,0,1991221316,Mon Jun 01 06:38:10 PDT 2009,NO_QUERY,Xaan,I love Jasper &amp; Jackson but that wig in th...
224992,0,2239702807,Fri Jun 19 08:51:56 PDT 2009,NO_QUERY,Ginger_Billie,I am really tired and bored and bleh! I feel c...
224993,1,2016018811,Wed Jun 03 06:00:29 PDT 2009,NO_QUERY,kevin_choo,@alyshatan good luck!! It sounds interesting t...

In [4]:
def replace_pattern(tweets: pd.DataFrame) -> pd.DataFrame:
    
    # regex pattern
    hashtags = "#[\d\w]+"
    mentioned = "@[\d\w]+"
    ampersand = "&[\d\w]+"
    urls = '((www.[^s]+)|(https?://[^s]+))'

    pat = hashtags + "|" + mentioned +  "|" + ampersand + "|" + urls
    
    repl = " "
    
    tweets['text'] = tweets['text'].str.replace(pat= pat, repl = repl, regex=True)

    return tweets

In [ ]:
df = replace_pattern